<h1>À propos de moi ...</h1>
<div class="about-container">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725086/moi_tyntkh.jpg" alt="" class="moi-image">
  <div class= "about-card">
    <h2>Myself</h2>
    <p>Comme se débrouiller toute seule est le meilleur moyen d’apprendre,
    j’ai appris les bases du métier de développeur web sur internet. Des tests innovants n’ont
    fait que confirmer mon appétence pour le numérique avec un score de 87% et a révélé en moi
    des compétences que j’ignorais. Ma formation au Wagon me permets de me considérer comme
    développeuse web. J'ai  aussi obtenu un DUT de Droit avec une passion pour le Droit Fiscal
    et toujours la première (et la seule) à se jeter sur les barèmes d'impositions de l'année.
    </p>
  </div>
</div>

<h2>Mes compétences</h2>
<div class="cards">
<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170926/Capture_d_%C3%A9cran_2024-06-23_211852_illwwo.png" />
  <div class="card-product-infos">
    <h2>Front-end</h2>
    <p>HTML5 et CSS3</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170926/Capture_d_%C3%A9cran_2024-06-23_211809_vmdkdn.png" />
  <div class="card-product-infos">
    <h2>Back-end</h2>
    <p>Ruby on rails, Java et Python</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170927/Capture_d_%C3%A9cran_2024-06-23_211818_pcvajm.png" />
  <div class="card-product-infos">
    <h2>Database</h2>
    <p>SQL, Postgre, SQLite</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170926/Capture_d_%C3%A9cran_2024-06-23_212436_zqde8y.png" />
  <div class="card-product-infos">
    <h2>Javascript</h2>
    <p>Javascript et ses frameworks Angular, React, Stimulus, Vue</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170927/Capture_d_%C3%A9cran_2024-06-23_212613_yv2mcp.png" />
  <div class="card-product-infos">
    <h2>Collaboration</h2>
    <p>Git, Github et Notion</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170927/Capture_d_%C3%A9cran_2024-06-23_212736_ijxjwg.png" />
  <div class="card-product-infos">
    <h2>Méthodes</h2>
    <p>Methode AGILE et SCRUM</p>
  </div>
</div>

<div class="card-product">
  <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1719170927/Capture_d_%C3%A9cran_2024-06-23_211755_zd0htd.png" />
  <div class="card-product-infos">
    <h2>UX Design</h2>
    <p>Figma et design responsive</p>
  </div>
</div>
</div>
