<div class="image-container2">
  <h1 class="title-glide">Alizée Kraxner--Etilé</h1>
  <h3 class="h3-glide">Software Engineer</h3>
  <p class="p-glide">Globe-trotter et UX designer à mes heures perdues...</p>
  <%= image_tag "https://res.cloudinary.com/dflvyzy0z/image/upload/v1718905943/P1001537_ygqbq6.jpg",  class: "glide-image1", id: "monImage" %>
  <%= image_tag "https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725085/italie_jsnfu1.jpg", class: "glide-image2" %>
</div>
