<h1>Photographies</h1>
<div class="image-container">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725065/1_lr7bjs.jpg" alt="Photo 1" class="photo1">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725065/2_xgaf2h.jpg" alt="Photo 2" class="photo2">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725065/3_oh2vzb.jpg" alt="Photo 3" class="photo3">
        <div class='card1'><p>Photographe de tout et de rien, pas là pour plaire mais pour la beauté de l’instant que cela soit en bas de la rue ou à l’autre bout de la terre. Pour prouver qu’on n'a pas besoin d’être loin pour trouver de la beauté.</p></div>
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725067/4_ycrmrp.jpg" alt="Photo 4" class="photo4">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725068/5_d7lhhr.jpg" alt="Photo 5" class="photo5">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725067/6_slymwb.jpg" alt="Photo 6" class="photo6">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725067/7_yl2o9s.jpg" alt="Photo 7" class="photo7">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725068/8_kmmi6g.jpg" alt="Photo 8" class="photo8">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725072/9_bm28ff.jpg" alt="Photo 9" class="photo9">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725072/10_wb3e7k.jpg" alt="Photo 10" class="photo10">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725073/11_uwmp2h.jpg" alt="Photo 11" class="photo11">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718905357/P1030840_3_ihkapu.jpg" alt="Photo 12" class="photo12">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725074/13_vnr0jf.jpg" alt="Photo 13" class="photo13">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725076/14_c7j0mz.jpg" alt="Photo 14" class="photo14">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725077/15_rrb3gx.jpg" alt="Photo 15" class="photo15">
        <img src="https://res.cloudinary.com/dflvyzy0z/image/upload/v1718725080/16_ews7d8.jpg" alt="Photo 16" class="photo16">
    </div>
